@font-face {
	font-family: Nunito;
	src: url("diga-sim/font.ttf");
}

@font-face {
	font-family: Pompiere;
	src: url("diga-sim/pompiere-Regular.ttf");
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: Gotham Rounded;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	color: white;
    background-color: #183940;
	background-size: cover;
}

.container {
	width: 550px;
	max-width: 90%;
}

.black {
	background-color: #cbce04;
	padding: 25px 25px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 15px 15px #d2d90470;
}

.answer {
	display: grid;
	grid-template-columns: repeat(1, auto);
	gap: 10px;
}

.btn {
	border-radius: 10px;
	padding: 5px 10px;
	font-size: 30px;
	background-color: #183940;
	outline: none;
	color: #d2d904;
	text-decoration: none;
	font-family: nunito;
	font-weight: 900;
}

.head1 {
	font-family: nunito;
	font-weight: 600;
	color: white;
	text-shadow: 2px 2px #000000;
}

.black p {
	font-size: 18px;
	color: white;
}

.head2 {
	margin-top: -20px;
	font-family: nunito;
	font-weight: 800;
	color: #183940;
}

.head3 {
	font-size: 45px;
	margin-top: 35px;
	font-family: Pompiere;
	font-weight: 400;
	color: #183940;
}

.head4 {
	font-size: 45px;
	margin-top: -20px;
	margin-bottom: -20px;
	font-family: Pompiere;
	font-weight: 900;
	color: white;
	text-shadow: 2px 2px #000000;
}

.head5 {
	font-size: 45px;
	font-family: Pompiere;
	font-weight: 400;
	color: #183940;
}
